<!DOCTYPE html>

<html>
    <head>
        <title>gestion-operativa-en-la-nube</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel ="stylesheet" type="text/css" href="../assets/css/styles.css"/>
        <link rel="icon" href="../assets/img/icono-logo-personal-pagina-web.ico"/>
        <script defer type="module"src = "../assets/js/gestion-operativa-en-la-nube.js">  </script>
         <!-- Iconos de fontawesome -->
        <script src="https://kit.fontawesome.com/e1d75a091f.js" crossorigin="anonymous"></script>
        <script  defer type="module" src="../assets/js/main.js" > </script>
        
       
    
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../assets/img/logo-personal-pagina-web.jpg" alt ="logo de la pagina web" />
            </div>
            <nav>
                <ul class="nav-links"> <!-- clase usada para editar los link de la barra de navegacion -->
                    <li> <a href="#inicio"> Inicio</a> </li>
                    <li> <a href="#api-2"> Api-2</a> </li>
                    <li> <a href="#api-3"> Api-3 </a> </li>
                    <li> <a href="#api-4"> Api-4 </a> </li>
                </ul>
            </nav>
            <a href="#" class="btn"><button>Contact</button></a>
        </header>
        
        <main>
           
         
            <section class="sectionPrincipal">
        
                 <!---Contenedor flexible que tendra el contenido de la pagina -->
                 <div class="in-flex" id= "contenidoApis" >
                    
               
                </div>


            </section>
          
               
            
        </main>
       
        <footer class="pie-de-pagina">
            
            <div class="grupo-1"> <!-- contene los bloques del logo, sobre mi y de las redes sociales -->
                <div class="box">
                    <figure>
                        <a href="#"> 
                            <img src ="../assets/img/logo-personal-pagina-web.jpg" alt ="logo de la pagina web"/>
                        
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2> SOBRE MI </h2>
                    <p> Hola mucho gusto, me llamo Gaston, estudiante de tecnico superior en programacion en la universidad de Teclab</p>
                    <p>  Aprendiendo a traves de la practica y lograr ser un mejor dev. Gracias por leer que tengas un excelente dia.
                </div>
                <div class="box">
                    <h2>SEGUIME</h2>
                    <div class="red-social">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
             
            </div>
            
            <div class="grupo-2">
                <small> <i class="fa-solid fa-copyright"></i> <b>Gaston Matias Melzi</b> - Todos los Derechos Reservados</small>
            </div>
        </footer>
        
    </body>

</html>
